<%- include('./partilas/head') %>
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f8f9fa;
        }

        table th,
        table td {
            vertical-align: middle !important;
            font-size: 15px;
        }

        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        @media (max-width: 576px) {

            table th,
            table td {
                font-size: 13px;
                padding: 6px;
            }

            h3 {
                font-size: 20px;
            }
        }
    </style>

    </head>
    <body style="background-color: #f8f9fa; font-family: 'Inter', sans-serif;">
        <%- include('./partilas/nav') %>
            <div class="container py-5">
                <h3 class="fw-bold text-success mb-4 text-center">
                </h3>
            </div>
                <%- include('./partilas/f') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>